body {
  background-color: #121217;
}

.sgs-fade {
  /* 変更 */
  transition: opacity 1s, visibility 1s;
    
  opacity: 0;
  visibility: hidden;
}

.sgs-fade.is-show {  
  opacity: 1;
  visibility: visible;
}

.text-white {
    color:#FFFFFF;
}

.text-gray {
    color:#B2B2B2
}