body {
  background-color: #121217; // #263238
}

.sgs-fade {
  /* 変更 */
  transition: opacity 1s, visibility 1s;
    
  opacity: 0;
  visibility: hidden;
}

.sgs-fade.is-show {  
  opacity: 1;
  visibility: visible;
}

.text-white {
    color:#FFFFFF;
}

.text-gray {
    color:#B2B2B2
}

.vertical-horizontal-center {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}