html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

#gui {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    z-index: 100;
    padding: 10px;
    font-size: 80px;
    background: rgba(0, 0, 0, 0.5);
    border: solid 1px #666;
    color: #fff; 
    text-align: center;
}

#num {
    position: absolute;
    left: 15px;
    bottom: 10px;
    z-index: 100;
    font-size: 110px;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
}

#gameinfo {
    position: absolute;
    right: 15px;
    bottom: 10px;
    z-index: 100;
    padding: 10px;
    color: #000;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 1px 1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px -1px 0 #FFF;
    background: rgba(0, 0, 0, 0.5);
}
